body {
    padding: 0;
    margin: 0;
}
html, body, #pinpoint, #map {
    height: 100%;
    width: 100%;
}

#menuButton{
	position: fixed;
	right: 0;
	top: 0;
	margin: 10px;
	z-index: 10;
}

.collapse-transition {
max-height: 700px !important;
}

#locator-panel .panel-heading .panel-title::before {
	font-family: FontAwesome;
	content: '\f041';
	display: inline-block;
  	width: 8%;
}

#tools-panel .panel-heading .panel-title::before {
	font-family: FontAwesome;
	content: '\f0b1';
	display: inline-block;
  	width: 8%;
}

#settings-panel .panel-heading .panel-title::before {
	font-family: FontAwesome;
	content: '\f013';
	display: inline-block;
  	width: 8%;
}

.settings-label{
	margin-right: 10px;
}

#help-panel .panel-heading .panel-title::before {
	font-family: FontAwesome;
	content: '\f059';
	display: inline-block;
  	width: 8%;
}